body{
	font-family: 'Poiret One', cursive;
	text-align: center;
	color: black;
	background: linear-gradient(#e66465, #9198e5);
	background-repeat: no-repeat;
	height: 100%;
}

.jumbotron{
	background-color: #ADD8E6;
}

.main{
	color: #E6E6FA;
}

.card{
	color: black;
}
