a.nounderline:link {
	text-decoration:none;
}
.contact {
    background-color: black;
    padding-bottom: 0%;
}

.fa-github, .fa-linkedin, .fa-medium, .fa-envelope {
    color: white;
}

.fa-github:hover {
	color: #6E5494;
}

.fa-linkedin:hover {
	color: #0077B5;
}

.fa-medium:hover {
	color: grey;
}

i {
	margin-right: 15px;
}
