a.nounderline:link {
	text-decoration:none;
}
.contact {
    padding-bottom: 0%;
}

.fa-github, .fa-linkedin, .fa-medium, .fa-envelope {
    color: whitesmoke;
}

.fa-github:hover, .fa-linkedin:hover, .fa-medium:hover {
	color: orange;
}

i {
	margin-right: 15px;
}
