body {
	font-family: 'Playfair Display', serif;
	text-align: center;
	background-color: #EFEFEF;
	color: black;
}

#typedText{
	left: 0;
	line-height: 200px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

.navbar-nav {
	background-color: transparent;
}

.navbar-nav li {
	color: red;
}

.main {
	height: 100%;
	display: table;
}

a, a:hover{
	color: black;
}

.iconbtm {
	position: absolute;
	bottom: 10%;
	left: 50%;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

#scroll-up{
	position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: grey; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 20px; /* Increase font size */
}
