body {
	font-family: 'Playfair Display', serif;
	text-align: center;
}

.jumbotron {
	background-color: black;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.main {
	color: black;
}

#typedText{
	left: 0;
	line-height: 200px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

.introduction {
	background-color: #CD6E79;
	height: 20%;
}

.projects {
	background-color: #9E5A8F;
	height: 75%;

}

.contactme {
	background-color: teal;
	height: 20%;
}

.projects h3 {
	text-align: center;
}

.WebServer, .ArtGallery, .Cypres{
	padding: 50px 0px 50px 0px;
}

.myFooter{
		background-color: #9E5A8F;
		padding: 50px 0px 0px 0px;
}

span {
	text: black;
}

h1 {
	color: white;
}

p {
	color: white;
	font-size: 120%;
	font-family: 'Karla', sans-serif;
}

p.lead {
	color: white;
}

a:link {
	color: white;
	font-size: 120%;
}

p.card-text {
	color: black;
}

a.card-link {
		color: black;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.linkedin:hover, .github:hover {
	background: grey;
}

.default {
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

#scroll-up{
	position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: blue; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 20px; /* Increase font size */
}
