.introduction {
	height: 60%;
}

.skills {
	height: 40%;
}

.projects {
	height: 45%;
}

.contact {
    height: 10%;
    background-color: black;
}

#contactinfo {
	color: black;
}

.fa-github, .fa-linkedin, .fa-medium {
    color: white;
}

a.nounderline:link {
	text-decoration:none;
}

#contactinfo:hover {
    color: grey;
}

#footer {
	bottom: 0;
	color: white;
}
